img {
    width: 360px;
    /*largura*/
    height: 400px;
    /*altura*/
    max-width: 360px;
    /*mexe sem alterar a proporção*/
    border-radius: 30%;
    /*arredonda as bordas da imagem*/
    border: 2px inset rgb(4, 4, 36);
}